<%- include('./partials/header') -%>

<section id="about">
    <div class="container">
        <form method="POST" action="/series/novo-registro">
            <div class="form-group">
              <label for="name">Nome da Serie</label>
              <input value="<%- serie.name %>" type="text" class="form-control" id="name" name="name" placeholder="Digite o nome da serie">
            </div>
            <div class="form-group">
                <label for="status">Status</label>
                <select class="form-control" id="status" name="status">
                    <% for(let status in labels){ %>
                        <% if(serie.status === status){ %>
                            <option value="<%- status %>" selected><%- labels[status]%></option>
                        <% }else { %>
                            <option value="<%- status %>"><%- labels[status]%></option>
                        <% } %>
                    <% } %>
                </select>
              </div>
            <button type="submit" class="btn btn-secondary">Submit</button>
          </form>
    </div>
</section>

<%- include('./partials/footer') -%>