<%- include('./partials/header') -%>
<section id="about">
    <div class="container">
        <h2>Series</h2><a class="btn btn-secondary m-3" role="button" href="/series/nova-serie">Adicionar Nova</a>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Titulo</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Acoes</th>
                </tr>
            </thead>
            <tbody>
                <% series.forEach( serie => { %>
                <tr scope="row">
                    <td scope="col"><a class="text-capitalize text-dark"
                            href="/series/sobre/<%- serie._id %>"><%- serie.name %></a></td>
                    <td scope="col"><span class="badge badge-secondary"><%- serie.status %></span></td>
                    <td scope="col">
                        <a class="btn btn-secondary" role="button" href="/series/editar/<%- serie._id %>">
                            Editar
                        </a>
                        <a class="btn button btn-secondary" role="button" href="/series/excluir/<%- serie._id %>">
                            Excluir
                        </a>
                    </td>
                </tr>
                <% }) %>
            </tbody>
        </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <% if(pagination.currentPage > 0){ %>
                <li class="page-item"><a class="page-link" href="/series?sizePage=<%= pagination.sizePage %>&currentPage=<%= pagination.currentPage - 1 %>">Anterior</a></li>
                <% } %>
                <% for(let i=0; i < pagination.pages; i++){ %>
                <li class="page-item <% if(pagination.currentPage === i){ %> active <% } %>"><a class="page-link" href="/series?sizePage=<%= pagination.sizePage %>&currentPage=<%= i %>"><%= (i + 1) %></a></li>
                <% } %>
                <% if(pagination.currentPage < (pagination.pages-1)) { %>
                    <li class="page-item"><a class="page-link" href="/series?sizePage=<%= pagination.sizePage %>&currentPage=<%= pagination.currentPage + 1%>">Próximo</a></li>
                <% } %>
            </ul>
        </nav>
    </div>
</section>
<%- include('./partials/footer') -%>