<%- include('./partials/header') -%>
<section id="about">
    <div class="container">
        <h2><%- serie.name %></h2>
        <form action="/series/comentario" method="post">
            <input type="hidden" value="<%- serie._id %>" name="id" />
            <div class="form-group">
                <label for="comment">Deixe seu comentário</label>
                <textarea class="form-control" rows="3" id="comment" name="comment"
                    placeholder="Digite aqui a sua mensagem."></textarea>
            </div>
            <button type="submit" class="btn btn-secondary">Enviar</button>
        </form>
        <ul class="list-group mt-4 comments">
            <% serie.comments.forEach( comment => { %>
            <li class="list-group-item p-4 mb-2 comment">
                <p class="comment-content">
                    <%- comment %>
                </p>
            </li>
            <% })%>
        </ul>
    </div>
</section>
<%- include('./partials/footer') -%>